body
{
  background-image: url("paper.jpg");
}

#alig {
	text-align:center;
}

a:link, a:visited
{
    color: blue;
    font-weight: bold;
}

a:hover, a:active
{
    color: purple;
}


.flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  flex-direction: column ;

}
.navigation {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0; 
  background: deepskyblue;
    text-align:center;
	  font-size:20px;


}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: #1565C0;
}


