img {
  width: 200px;
  height: 200px;
  
}

.flip-card {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 5px solid #555;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
  position: absolute: width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .8s;
  transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover .centrd {
  transform: rotateY(-180deg);
}

/* .flip-card .centrd {
  transform-style: preserve-3d;
} */ 

.centrd {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  font-weight: bold;
}

/* 

make this div id like #centrd and change in html file to   <div class="flip-card-inner"><div id="centrd">Yellow</div><img src="yellow.png">  
and styesheet is NOT APPLIED(text mirror doesnt happen) hence better  to use div class files instead of div id :

#centrd {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  font-weight: bold;
}
 */


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


/* Style the back side */

.flip-card-back {
  background-color: lightgrey;
  color: red;
  transform: rotateY(180deg);
}